{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="chart-container" style="height: 90vh;">
        <div style="width: 50%; margin-left: auto;">
            <canvas id="pieChart" data-labels="{{ labels|safe }}" data-data="{{ data|safe }}"></canvas>
            <!-- Hidden elements to store data -->
            <div id="labelsData" style="display: none;">{{ labels | safe }}</div>
            <div id="chartData" style="display: none;">{{ data | safe }}</div>
        </div>
    </div>

    <!-- Load Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Then load your script -->
    <script src="{% static 'home/scripts.js' %}"></script>
{% endblock %}
