.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust the margin as needed */
}

.chart-container {
    margin-top: 200px;
    width: 1000px; /* Set the width */
    height: 1000px; /* Set the height */
}